<footer class="py-8 bg-zinc-100 dark:bg-zinc-900">
	<div class="container px-4 mx-auto">
		<p class="text-sm text-center text-gray-500">&copy; 2023 Sistem Informasi Persuratan Universitas Andalas</p>
	</div>
</footer>
